body {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: rgb(32, 32, 97);
}

#root_disp {
    padding: 10px 10px 10px 10px;
}

#doc_requirements {
    display: grid;
    grid-template-columns: 18em 18em 10em;
}

#inputs_button {
    border: 1px solid black;
    border-radius: 12px;
    background-color: darkgray;

    transition-duration: 0.3s;

    box-shadow: 0px 0px 10px 0px;
}

#inputs_button:hover {
  background-color: blueviolet;
  color: white;

}

#lockout_text {
    margin-top: 0.5em;
}